body {
  background-color: aquamarine;
}

#bnt1,
#btn2 {
  display: flex;
  flex-direction: row;
}

#btn3 {
  position: top;
}

#bild {
  display: flex;
  flex-flow: left;
  justify-content: space-around;
  border: 2px solid;
  border-radius: 12px;
  overflow: hidden;
}

#btn4 {
  position: top;
  color: blue;
}

#btn5 {
  position: top;
  color: red;
}
